{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>vcard</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
</head>

<body>
    <div class="row" style="margin-top: 50px;">
        <div class="col-lg-9  align-self-center">
            <h5 style="margin-left: 20px;text-align: center;">Heading</h5>
        </div>
        <div class="col"><button class="btn" type="button" style="border-style: solid;border-color: #000000;"><i class="fas fa-barcode"></i></button><button class="btn" type="button" style="border-style: solid;border-color: #000000;"><i class="fas fa-link"></i></button><button class="btn" type="button" style="border-style: solid;border-color: #000000;"><i class="fas fa-file-download"></i></button></div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
</body>

</html>